@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-label {
  display: block;
  font-size: 20px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  margin-bottom: 6px;
  color: #000000;
}

.input-field {
  width: 100%;
  font-size: 18px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  background: transparent;
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
  transition: border-color 0.3s;
}

input.line {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 18px;
  padding: 0.5rem 0;
  margin-top: 0.25rem;
  background: transparent;
  outline: none;
}
